variable "exoscale_api_key" {
  default = "your-api-key-here"
}

variable "exoscale_secret_key" {
  default =  "your-api-secret-her"
}

variable "exoscale_default_ssh_key_pair" {
  default =  "your-exoscale-ssh-key-pair-name"
}