{
  "bootstrap": false,
  "server": true,
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_dir }}",
  "encrypt": "{{ consul_encryption_key }}",
  "bootstrap_expect": {{ groups['server'] | count | to_json }},
  "retry_join": {{ groups['server'] | intersect( groups[ vars['target_env'] ]) | difference( [inventory_hostname] ) | to_json }},
  "log_level": "INFO",
  "enable_syslog": true
}
